@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  .vitepress/theme/custom.css

  https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/
:root {
  --vp-c-brand-1: #5622cf;
  --vp-c-brand-2: #7350ff;
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --vp-c-divider: #e4e4eb;
  --vp-c-sidebar-border: #e0e0e9;

  --vp-c-text-2: #202020;

  --vp-sidebar-width: 300px;
  --vp-sidebar-bg-color: #f8f9fa;

  --vp-layout-max-width: 1600px;

  --vp-nav-logo-height: 32px;
}

.VPDoc .content-container {
  max-width: 820px !important;
}

ul {
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

ol {
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

.callout {
  padding: 0.5em 1em;
  margin: 1.5em 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;

  & > p {
    margin: 0;
  }

  &-bg-1 {
    @apply bg-red-50 dark:bg-red-950;
  }
  &-bg-2 {
    @apply bg-orange-50 dark:bg-orange-950;
  }
  &-bg-3 {
    @apply bg-yellow-50 dark:bg-yellow-950;
  }
  &-bg-4 {
    @apply bg-green-50 dark:bg-green-950;
  }
  &-bg-5 {
    @apply bg-blue-50 dark:bg-blue-950;
  }
  &-bg-6 {
    @apply bg-purple-50 dark:bg-purple-950;
  }
  &-bg-7 {
    @apply bg-gray-50 dark:bg-gray-950;
  }

  &-border-1 {
    @apply border-red-200 dark:border-red-800;
  }
  &-border-2 {
    @apply border-orange-200 dark:border-orange-800;
  }
  &-border-3 {
    @apply border-yellow-200 dark:border-yellow-800;
  }
  &-border-4 {
    @apply border-green-200 dark:border-green-800;
  }
  &-border-5 {
    @apply border-blue-200 dark:border-blue-800;
  }
  &-border-6 {
    @apply border-purple-200 dark:border-purple-800;
  }
  &-border-7 {
    @apply border-gray-200 dark:border-gray-800;
  }

  @apply text-gray-800 dark:text-gray-200;
}

.grid {
  margin: 1.5em 0;
}

/* medium plugin styles*/
.medium-zoom-overlay {
  z-index: 9998;
}

.medium-zoom-image {
  z-index: 9999;
}

/* overwrite vitepress components styles*/
.VPNavBarTitle {
  .title {
    font-size: 18px;
  }
  .VPImage {
    margin-right: 16px;
  }
}
.VPSidebar {
  border-right: 1px solid var(--vp-c-sidebar-border);

  .VPSidebarItem.level-1 .text {
    color: var(--vp-c-text-2) !important;
    font-size: 0.9em;
  }

  .VPSidebarItem.level-2 .text,
  .VPSidebarItem.level-3 .text,
  .VPSidebarItem.level-4 .text,
  .VPSidebarItem.level-5 .text {
    font-weight: normal;
    color: var(--vp-c-text-2) !important;
  }
}
.VPSidebarItem.level-0 {
  .VPLink {
    h2 {
      font-size: unset;
    }
  }
}
.VPNavBarMenu {
  .VPLink {
    &::after {
      display: hidden;
    }
  }
}

.vp-doc table tr td > p {
  margin: 0;
  line-height: 1.7;
}

.VPDoc .VPLastUpdated {
  font-weight: normal;
  font-size: 0.9em;
  color: var(--vp-c-text-3);
}

.DocSearch-Button{
  border-color: var(--vp-c-divider);
}
